/* Navbar */

:root{
    --box-shadow: 0px 4px 10px rgb(0 0 0 / 15%);
}

nav{
    box-shadow: var(--box-shadow);
    align-items: center;
}

ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    color: black;
}

.listeNav{
    cursor: pointer;
    font-size: 18px;
}

.logo {
    flex: 2;
  }

  #closeBtn{
    display: none;
  }

  #imageResponsive{
    display: none;
  }

  

  


  /* Body */

  body{
    background-color: #fffafa;
    margin: 0;
  }

  h2{
    font-family: 'Abel', sans-serif;
    font-size: 35px;
    color: #6a90b1;
  }

  h3{
    font-family: 'Abel', sans-serif;
    font-family: 'Noto Sans', sans-serif;
  }

  p, li, label{
    font-family: 'Abel', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
  }

  .intro{
    text-align: center;
    margin: 7% 15%;
  }

.equipe{
    display: flex;
    justify-content: space-around;
}

.containerEquipe{
    padding: 2%;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    min-height: 300px;
    max-width: 250px;
    border-radius: 5%;
}

.h2Equipe{
    text-align: center;
    font-size: 30px;
    margin: 0;
    margin-top: 5%;
}

.h3Equipe{
    color: #e7b87a;
    text-align: center;
    margin: 0;
    margin-top: 5%;
    font-size: 20px;
}

.descriptionEquipe{
word-spacing: 15px;
font-size: 15px;
}

/* Technologie */

.technologie{
    display: flex;
    margin-left: 8%;
    gap: 5%;
}

.containerList{
    flex-direction: column;
    flex: 2;
}

.listeTechno{
    list-style-type: circle;
    margin-bottom: 2%;
}

.logoLanguage{
    display: flex;
    gap: 15%;
    margin-left: 9%;
    margin-top: 5%;
}

.logoProjet{
    box-shadow: var(--box-shadow);
}

.flutterMobile{
    margin-top: 8%;
}

.h2Accompagnement{
    text-align: center;
}

/* Carousel */

.carousel{
    position: relative;
}

.carousel-container {
    width: 40%;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
  }
  
  .carousel-slide {
    display: flex;
    flex-wrap: nowrap;
    transition: transform 0.3s ease-in-out;
  }
  
  .carousel-slide > div {
    min-width: 100%;
  }
  
  .prevBtn,
  .nextBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .prevBtn {
    left: 20%;
    box-shadow: var(--box-shadow);
    border-radius: 50%;
    padding: 0.5%;
  }
  
  .nextBtn {
    right: 20%;
    box-shadow: var(--box-shadow);
    border-radius: 50%;
    padding: 0.5%;
  }

  .h2CarouselBlue{
    text-align: center;
    color: #19a2e2bf;
  }

  .h2CarouselOrange{
    text-align: center;
    color: #e7b87a;
  }

  .h2CarouselGreen{
    text-align: center;
    color: #26992e8c;
  }

  .descriptionCompetence{
    margin: 15%;
    margin-top: 10%;
  }

  .h2Projet{
    text-align: center;
  }

  /* Carousel 2 */

.carousel1{
    position: relative;
    margin-bottom: 20%;
}

.carousel-container1 {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
  }
  
  .carousel-slide1 {
    display: flex;
    transition: transform 0.3s ease-in-out;
  }
  
  .carousel-slide1 > div {
    min-width: 100%;
    height: auto;
  object-fit: cover;
  }
  
  .prevBtn1,
  .nextBtn1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .prevBtn1 {
    left: 10%;
    box-shadow: var(--box-shadow);
    border-radius: 50%;
    padding: 0.5%;
  }
  
  .nextBtn1 {
    right: 10%;
    box-shadow: var(--box-shadow);
    border-radius: 50%;
    padding: 0.5%;
  }

.imageprojet1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.imageprojet2, .imageprojet3, .imageprojet4{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Formulaire */

.flexForm{
  display: flex;
}

.formcol1{
  flex: 40%;
  box-shadow: var(--box-shadow);
  margin:5%;
  margin-top: 0;
  padding: 3%;
  border-radius: 5%;
}

.formcol2{
  flex: 60%;
  margin-top: 10%;
}

.flexnomprenom, .flextelsociete{
  display: flex;
  justify-content: space-around;
  margin-bottom: 5%;
  width: 100%;
}

.containerEmail, .containersujet{
  margin-right: auto;
  margin-left: auto;
  width:30%;
  margin-bottom: 5%;
}

input{
  width: 100%;
  height: 25px;
  border: none;
      border:solid 1px #ccc;
      border-radius: 10px;
      padding: 2%;
      transition: border-color 0.3s;
}

#name, #firstname, #societe, #tel{
  width: 100%;
}

#email, #subject{
  width: 130%;
}

input:focus {
  border: 2px solid #80b6d1;
  outline: none; /* Supprime le contour par défaut sur le focus */
}


.message{
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}

textarea{
  resize: none;
  border: none;
  border: 1px solid #ccc;
  border-radius: 3%; 
}

textarea:focus{
  border: 2px solid #80b6d1;
  outline: none;
}

.containerCheckbox{
  display: flex;
  margin-bottom: 5%;
  margin-top: 5%;
}

#checkbox{
  padding: 0;
  width: 20%;
}

.buttonContainer{
  text-align: center;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff; /* Couleur de fond du bouton */
  color: white; /* Couleur du texte */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  width: 30%;
  height: 40px;
}

.button:hover {
  background-color: #0056b3; /* Couleur de fond du bouton au survol */
  transform: scale(1.05); /* Effet d'agrandissement au survol */
}

/* Footer */

footer{
  background-color: #1b1b1e;
  color: white;
  padding-top: 2%;
  padding-bottom: 2%;
}

.footerFlex{
  display: flex;
  justify-content: space-around;
}

.footerflexcol1{
  margin-top: 2%;
}

.footerflexcol2 a, .mentions a {
  color: white;
  
}

.mentions{
  text-align: center;
}

/* Modal politique de confidentialité */

/* Styles for the modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: black;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  max-width: 80%;
  margin: 50px auto;
  position: relative;
  max-height: 80vh;
  overflow-y: auto;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
}









/* Media screen */

@media only screen and (max-width: 600px) {

  nav{
    display: flex;
    padding-left: 5%;
    gap: 40%;
  }
  
      #imageResponsive{
        display: block;
      }
      
      /* Sidenav menu */
  
  #closeBtn{
    display: block;
  }
  
  ul{
    flex-direction: column;
  }
  
  .sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: #e8e8e8;
    padding-top: 60px;
    transition: left 0.5s ease;
  }
  
  /* Sidenav menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #111;
  }
  
  .sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* Active class */
  .sidenav.active {
    left: 0;
  }
  
  /* Close btn */
  .sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  
  /* Icône burger */
  .burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }
    }

